@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

#map {
    height: 530px;
    width: 100%;
    border-radius: 5%;
}

h2 {
    color: #00BDC1;
}

#top{
    background: rgb(0,49,53);
    background: radial-gradient(circle, rgba(0,49,53,1) 0%, rgba(0,109,117,1) 35%, rgba(0,121,130,1) 55%, rgba(0,180,193,1) 72%, rgba(0,85,91,1) 100%);
}

*{
    font-family: 'Roboto', sans-serif;
}