#logologin {
    width: 40%;
    height: 40%;
}

.loginCuadro{
    background-color: #fff;
    border: 0px solid transparent;
}

#locate{
    position: absolute;  
    z-index: 10;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 63px; 
    right: 11px; 
    bottom: auto; 
    left: auto;
    background-color: rgb(249, 249, 249); 
    opacity: 0.95; 
    transition: background-color 0.16s ease-out 0s; 
    cursor: pointer; 
    border-width: 0px 0px 1px; 
    border-top-style: initial; 
    border-right-style: initial; 
    border-bottom-style: solid; 
    border-left-style: initial; 
    border-top-color: initial; 
    border-right-color: initial; 
    border-bottom-color: rgba(0, 0, 0, 0.1); 
    border-left-color: initial; 
    border-image: initial; 
    height: 26px; 
    width: 26px; 
    background-position: 0px 0px; 
    background-size: 26px 260px; 
    outline: 0px; 
    border-top-left-radius: 2px; 
    border-top-right-radius: 2px;
    padding: 4px;
}